@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
* {
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
body {
    display: grid;
    grid-template-rows: 58vh 16vh 16vh 7vh;
    height: 100%;
    width: 95%;
}
.product {
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    back-a {
        position: absolute;
        background-color: rgb(255, 0, 0);
        border-radius: 50px;
    }
    img {
        width: 95%;
        height: 100%;
        border-radius: 20px;
    }
}
.info {
    grid-row: 2;
    padding: 0;
    #title {
        display: flex;
        font-size: 1.3em;
        margin-bottom: 10px;
        margin-right: 0;
    }
    #rate {
        margin: 0;
        font-size: 10px;
        color: grey;
    }
    i {
        color: rgb(255, 238, 0);
        margin-right: 2%;
        font-size: 10px;
    }
    .product-text {
        display: flex;
        align-items: center;
    }
    #text {
        color: grey;
        font-size: 0.8em;
    }
    #reviews-a {
        text-decoration: none;
        font-size: 10px;
    }
    #read-more-a {
        text-decoration: none;
        font-size: 14px;
    }
}
.size {
    grid-row: 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    a {
        border: 2px solid grey;
        color: rgb(0, 0, 0);
        text-decoration: none;
        border-radius: 50px;
        padding: 10px 12px;
    }
    a:nth-child(4) {
        padding: 10px 10px;
    }
    a:hover {
        background-color: rgb(165, 165, 165);
    }
    a:focus {
        border: 2px solid black;
        color: white;
        background-color: black;
    }
    .size-a {
        grid-column: 1;
    }
}
.cart {
    grid-row: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
        font-size: 1.2rem;
        background-color: rgb(19, 19, 19);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 90%;
        color: white;
        padding: 15px;
        border-radius: 50px;
        margin-right: 10px;
        i {
            font-size: 1.2em;
            margin-right: 10px;
        }
    }
    p:hover {
        transition: background-color 0.15s ease-in-out;
        background-color: rgb(83, 83, 83);
    }
    p:active {
        transform: scale(0.9);
        transition: 0.07s ease;
    }
    sub {
        font-size: 10px;
        margin-left: 5px;
        color: rgb(151, 151, 151);
        text-decoration: line-through;
    }
}
@media (min-width: 1200px) {
    body {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 60vh 19vh 19vh;
        height: 100%;
        width: 98.5%;
    }
    .product {
        grid-column: 1;
        grid-row: 1 / 4;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 85%;
            height: 100%;
            border-radius: 20px;
        }
    }
    .info {
        grid-column: 2;
        grid-row: 1;
        padding: 0 5%;
        #title {
            display: flex;
            font-size: 3em;
            margin-bottom: 10px;
            border-radius: 50px;
            padding: 20px;
            color: white;
            background-color: black;
        }
        i {
            color: rgb(255, 238, 0);
            margin-right: 20px;
            font-size: 2em;
        }
        #rate {
            font-size: 30px;
        }
        .product-text {
            display: flex;
            align-items: center;
            font-size: 15px;
        }
        #text {
            color: grey;
            font-size: 40px;
        }
        #reviews-a {
            text-decoration: none;
            font-size: 30px;
        }
        #read-more-a {
            text-decoration: none;
            font-size: 30px;
        }
    }
    .size {
        grid-column: 2;
        grid-row: 2;
    }
    .cart {
        grid-column: 2;
        grid-row: 3;
        p {
            border-radius: 70px;
            height: 70%;
        }
    }
}