<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/checkout.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Checkout</title>
</head>
<body>
    <div class="header">
        <a id="back-a" href="../index.html"><</a>
        <p style="font-size: 20px;"><strong>Checkout</strong></p>
        <a id="filter-a" href="#"><i class="bi bi-filter-right"></i></a>
    </div>
    <div class="products">
        <div class="product-1">
            <img src="../storage/img/Library=Product1.png">
        </div>
        <div class="product-2">
            <img src="../storage/img/Library=Product2.png">
        </div>
    </div>
    <div class="card-info">
        card-info
    </div>
    <div class="price-info">
        price-info
    </div>
    <div class="pay">
        pay
    </div>
</body>
</html>