<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/checkout.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Checkout</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container container">
            <input type="checkbox" name="" id="">
            <div class="hamburger-lines">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
            </div>
            <ul class="menu-items">
                <li><a href="../index.html">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Category</a></li>
                <li><a href="#">Menu</a></li>
                <li><a href="#">Testimonial</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <h1 class="logo">Checkout</h1>
        </div>
    </nav>
    <div class="products">
        <div class="product-1">
            <img src="../storage/img/Library=Product1.png">
            <div class="product-info">
                <h4 style="white-space: nowrap;">Modern Light Clothes</h4>
                <p style="color: grey; font-size: 12px;">Dress modern</p></br>
                <p><strong>$212.99</strong></p>
            </div>
        </div>
        <div class="product-2">
            <img src="../storage/img/Library=Product2.png">
            <div class="product-info">
                <h4 style="white-space: nowrap;">Modern Light Clothes</h4>
                <p style="color: grey; font-size: 12px;">Dress modern</p></br>
                <p><strong>$162.99</strong></p>
            </div>
        </div>
    </div>
    <div class="card-info">
        <h4>Shipping Information</h4></br>
        <p><svg id="visa" xmlns="http://www.w3.org/2000/svg" width="70" height="35" viewBox="0 0 2304 1536"><path fill="#0d2365" d="M1975 862h-138q14-37 66-179l3-9q4-10 10-26t9-26l12 55zM531 797l-58-295q-11-54-75-54H130l-2 13q311 79 403 336m179-349L548 886l-17-89q-26-70-85-129.5T315 579l135 510h175l261-641zm139 642h166l104-642H953zm768-626q-69-27-149-27q-123 0-201 59t-79 153q-1 102 145 174q48 23 67 41t19 39q0 30-30 46t-69 16q-86 0-156-33l-22-11l-23 144q74 34 185 34q130 1 208.5-59t80.5-160q0-106-140-174q-49-25-71-42t-22-38q0-22 24.5-38.5T1455 571q70-1 124 24l15 8zm425-16h-128q-65 0-87 54l-246 588h174l35-96h212q5 22 20 96h154zm262-320v1280q0 52-38 90t-90 38H128q-52 0-90-38t-38-90V128q0-52 38-90t90-38h2048q52 0 90 38t38 90"/></svg>**** **** **** 2143<svg id="expand" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m6 9l6 6l6-6"/></svg></p>
    </div>
    <div class="price-info">
        <div class="values">
            <p>Total (9 items)</p>
            <p>Shipping Free</p>
            <p>Discount</p></br>
            <hr></br>
            <p>Sub Total</p>
        </div>
        <div class="price">
            <p><strong>$1,014.95</strong></p>
            <p><strong>$.0.00</strong></p>
            <p><strong>$.0.00</strong></p></br>
            <hr></br>
            <p><strong>$1,014.95</strong></p>
        </div>
    </div>
    <div class="pay">
        <p>Pay</p>
    </div>
</body>
</html>