<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/detail.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Product Details</title>
</head>
<body>
    <a id="back-a" href="../index.html"><</a>
    <a id="heart-a" href="#"><i class="bi bi-heart-fill"></i></a>
    <div class="product">
        <img src="../storage/img/Library=Product2.png">
    </div>
    <div class="info">
        <p id="title"><strong>Light Dress Bless</strong></p>
        <div class="product-text">
            <i id="star-icon" class="bi bi-star-fill"></i>
            <p id="rate">5.0</p>
            <a id="reviews-a" href="#" style="color: rgb(0, 110, 255); margin-left: 5px;">(7.932reviews)</a>
        </div>
        <p id="text">Its simple and elegant makes it perfect for those of you who like you who want minimalist clothes <strong><a id="read-more-a" href="#" style="color: black">Read More...</a></strong></p>
    </div>
    <div class="selections">
        <div class="size">
            <h3>Select Size</h3>
            <a href="#">S</a>
            <a href="#">M</a>
            <a href="#">L</a>
            <a href="#">XL</a>
        </div>
        <div class="color">
            <h3>Color</h3>
            <a href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
        </div>
    </div>
    <div class="cart">
        <a href="../views/checkout.html" style="text-decoration: none;"><p><i class="bi bi-cart-dash"></i> Add to Cart | $100.99<sub>$190.99</sub></p></a>
    </div>
</body>
</html>